/* Theme Colors - Night Mode */
$primary: red;
$secondary: red;
$third: red;
$success: red;
$success-light: red;
$success-dark: red;
$fail: red;
$fail-light: red;
$fail-dark: red;
$pending: red;
$pending-light: red;
$pending-dark: red;
$secondary: red;
$secondary: red;

$bg: #000;
$text: #fff;
$text-sub: grey;
$text-sub-secondary: #000;
$text-success: green;
$text-success-light: green;
$text-success-dark: green;
$text-fail: red;
$text-fail-light: red;
$text-fail-dark: red;
$text-pending: yellow;
$text-pending-light: yellow;
$text-pending-dark: yellow;

/* END Theme Colors - Night Mode */