:root[data-theme="theme1"][data-mode="day-mode"] {
    --font: "Montserrat", sans-serif;
    --primary: #2e2e2e;
    --secondary: #0018a2;
    --third: #5163ca;
    --success: #00b894;
    --success-light: #55efc4;
    --success-dark: #019875;
    --fail: #d63031;
    --fail-light: #ff7675;
    --fail-dark: #b71c1c;
    --pending: #fdcb6e;
    --pending-light: #ffeaa7;
    --pending-dark: #e1b800;

    --bg: #ececec;
    --text: #121212;
    --text-sub: #a0a0a0;
    --text-sub-secondary: #363636;
    --text-success: #00b894;
    --text-success-light: #55efc4;
    --text-success-dark: #019875;
    --text-fail: #d63031;
    --text-fail-light: #ff7675;
    --text-fail-dark: #b71c1c;
    --text-pending: #fdcb6e;
    --text-pending-light: #ffeaa7;
    --text-pending-dark: #e1b800;
}
:root[data-theme="theme1"][data-mode="night-mode"] {
    --font: "Quicksand", sans-serif;

    --primary: #2e2e2e;
    --secondary: #6c5ce7;
    --third: #00b894;
    --success: #00b894;
    --success-light: #55efc4;
    --success-dark: #019875;
    --fail: #d63031;
    --fail-light: #ff7675;
    --fail-dark: #b71c1c;
    --pending: #fdcb6e;
    --pending-light: #ffeaa7;
    --pending-dark: #e1b800;

    --bg: #121212;
    --text: #ececec;
    --text-sub: #a0a0a0;
    --text-sub-secondary: #363636;
    --text-success: #00b894;
    --text-success-light: #55efc4;
    --text-success-dark: #019875;
    --text-fail: #d63031;
    --text-fail-light: #ff7675;
    --text-fail-dark: #b71c1c;
    --text-pending: #fdcb6e;
    --text-pending-light: #ffeaa7;
    --text-pending-dark: #e1b800;
}
  

