:root[data-theme="theme1"][data-mode="day-mode"] {
    --font: "Montserrat", sans-serif;
    --primary: #010715;
    --secondary: #1f4cc5;
    --third: #f1f1f1;
    --highlight: #41e7fc;
    --success: #00b894;
    --success-light: #55efc4;
    --success-dark: #019875;
    --fail: #d63031;
    --fail-light: #ff7675;
    --fail-dark: #b71c1c;
    --pending: #fdba6e;
    --pending-light: #ffe5a7;
    --pending-dark: #e18e00;

    --bg: #fff;
    --text: #000;
    --text-sub: #454545;
    --text-sub-secondary: #acacac;
    --text-success: #00b894;
    --text-success-light: #55efc4;
    --text-success-dark: #019875;
    --text-fail: #d63031;
    --text-fail-light: #ff7675;
    --text-fail-dark: #b71c1c;
    --text-pending: #fdcb6e;
    --text-pending-light: #ffeaa7;
    --text-pending-dark: #e1b800;
}
:root[data-theme="theme1"][data-mode="night-mode"] {
    --font: "Montserrat", sans-serif;

    --primary: #fff;
    --secondary: #1f4cc5;
    --third: #697fe1;
    --highlight: #41e7fc;
    --success: #00b894;
    --success-light: #55efc4;
    --success-dark: #019875;
    --fail: #d63031;
    --fail-light: #ff7675;
    --fail-dark: #b71c1c;
    --pending: #fdba6e;
    --pending-light: #ffe5a7;
    --pending-dark: #e18e00;

    --bg: #010715;
    --text: #ececec;
    --text-sub: #a0a0a0;
    --text-sub-secondary: #646a7e;
    --text-success: #00b894;
    --text-success-light: #55efc4;
    --text-success-dark: #019875;
    --text-fail: #d63031;
    --text-fail-light: #ff7675;
    --text-fail-dark: #b71c1c;
    --text-pending: #fdcb6e;
    --text-pending-light: #ffeaa7;
    --text-pending-dark: #e1b800;
}
  

