@use './variables' as *;
@use './mixins' as *;

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
  line-height: 1;
  background: var(--bg);
  color: var(--text);
}
* {
  line-height: 1 !important;
}
.flex-center {
  @include flex-center;
  @include justify-center;
}
.text-main {
  color: var(--text);
}
.text-sub {
  color: var(--text-sub);
}
.text-sub-secondary {
  color: var(--text-sub-secondary);
}