.chat-board {
    max-width: 100%;
    overflow: auto;
    padding: 0 3rem 1rem;

    & .created-date {
        display: flex;
        align-items: center;
        gap: .5rem;
        margin: .5rem 0;
        & > div { width: 100%; height: 1px; background: #ffffff5b; }
        & > span {
            flex-basis: 50px;
            text-align: center;
            white-space: nowrap;
            color: #ffffff5b;
            font-size: .75rem;
        }
    }
    & > .reminder {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
        & span {
            font-size: .75rem;
            color: var(--text-pending);
        }
    }
    & > .row {
        display: inline-flex;
        flex-direction: column;
        gap: .5rem;
        width: 100%;

        & > .chat {
            max-width: 35vw;
            background: #13161f;
            padding: .25rem;
            border-radius: 5px;

            &.me {
                background: #242a3a;
                justify-items: end;
                align-self: flex-end;
            }

            & > .thumbnail {
                width: 200px;
                height: auto;
                margin-bottom: .5rem;
                & img {width: 100%; height: auto;object-fit: contain;}
            }
            & > .text {
                margin: 0;
                font-size: .813rem;
            }
            & > .date {
                display: block;
                text-align: right;
                margin-left: auto;
                margin-top: 1rem;
                color: var(--text-sub-secondary);
                font-size: .675rem;
                font-weight: 500;
            }
        }
    }
}

.chat-texting {
    position: sticky;
    bottom: 0;
    left: 220px;
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    gap: .5rem;

    background: #181818;
    padding: .5rem 1rem;

    & > * {flex: 3;}
    & .btn-add { flex: .05;background: transparent; color: #fff; font-size: 1.25rem;}
    & .btn-icon { flex: .05;background: transparent; color: #fff; font-size: 1.25rem; }
    & input { flex: 1; }
    & .btn-send {
        flex: .25;background: var(--highlight); color: #fff; 
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        padding: .5rem;
        border-radius: 8px;
        & i {
            font-size: .75rem;
            color: var(--primary);
        }
        & span {
            font-size: .75rem;
            color: var(--primary);
            font-weight: 500;
        }
    }
}


/* Left Nav */
.left-nav-content-chat {
    padding: 0.5rem .5rem .5rem 2.5rem;

        & > .sub-nav-header {
            padding: .5rem 0;
            display: flex;
            align-items: center;
            gap: .675rem;
            & i {
                font-size: 1rem;
                color: var(--highlight);
            }
            & span {
                color: var(--text-sub-secondary);
                font-size: .875rem;
                font-weight: 600;
            }
        }
        & > .sub-nav-sect {
            max-height: 35vh;
            overflow: auto;
            margin: 0 -.5rem;
            & > .sub-nav-item {
                padding: .375rem .5rem;
                display: flex;
                align-items: center;
                gap: .5rem;
                cursor: pointer;
    
                & .img-icon {
                    width: 23px;
                    height: 23px;
                }
    
                & span {
                    color: var(--highlight);
                    font-size: .75rem;
                    font-weight: 400;
                    text-transform: lowercase;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    max-width: 100%;
                    font-style: italic;
                }
    
                & > .marked {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    margin-left: auto;
                    & > .new-dot {
                        width: 6px;
                        height: 6px;
                        background: red;
                        border-radius: 50%;
                        animation: pulseError-animation 1.5s infinite;
                        
                    }
        
                    & > i {
                        font-size: .813rem;
                        color: rgb(255, 174, 0);
                        animation: starrotate-animation 1.5s infinite;

                    }

                    @keyframes pulseError-animation {
                        0% {
                            box-shadow: 0 0 0 0px red;
                        }
                        100% {
                            box-shadow: 0 0 0 7px rgba(255, 0, 0, 0.126);
                        }
                    }
                    @keyframes starrotate-animation {
                        0% {
                            transform: rotate(0);
                        }
                        20% {
                            transform: rotate(-10deg);
                        }
                        100% {
                            transform: rotate(160deg);
                        }
                    }
                }
    
                
    
    
                & > .bolded, &:hover {
                    background: #41e6fc36;
                    border-radius: 8px;
                }
            }
        }
        
        & > .separator {
            height: 1px;
            width: 100%;
            background: var(--text-sub-secondary);
            margin: .75rem 0 0.5rem;
        }
    

    
}