.skeleton {
    background: linear-gradient(
      90deg,
      #0d0d0d 25%,
      #000 37%,
      #0d0d0d 63%
    );
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
}
  
@keyframes shimmer {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
}
  