/* Left Sub Nav */
.left-nav-content-project {
    padding: 0.5rem 1vw .5rem 2.5rem;

        & > .sub-nav-header {
            padding: .5rem 0;
            display: flex;
            align-items: center;
            gap: .675rem;
            & i {
                font-size: 1rem;
                color: var(--highlight);
            }
            & span {
                color: var(--text-sub-secondary);
                font-size: .875rem;
                font-weight: 600;
            }
        }
        & > .sub-nav-sect {
            max-height: 35vh;
            overflow: auto;
            margin: 0 -.5rem;
            & > .sub-nav-item {
                padding: .65rem .5rem;
                display: flex;
                align-items: center;
                gap: .5rem;
                cursor: pointer;
    
                & .img-icon {
                    width: 25px;
                    height: 25px;
                }
    
                & span {
                    color: #ffffffd7;
                    font-size: .8rem;
                    font-weight: 400;
                    text-transform: capitalize;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    max-width: 100%;
                }
    
                & > .marked {
                    display: flex;
                    align-items: center;
                    gap: .875rem;
                    margin-left: auto;
                    & > .new-dot {
                        width: 6px;
                        height: 6px;
                        background: red;
                        border-radius: 50%;
                        animation: pulseError-animation 1.5s infinite;
                        
                    }
        
                    & > i {
                        font-size: .813rem;
                        color: rgb(255, 174, 0);
                        animation: starrotate-animation 1.5s infinite;

                    }

                    @keyframes pulseError-animation {
                        0% {
                            box-shadow: 0 0 0 0px red;
                        }
                        100% {
                            box-shadow: 0 0 0 7px rgba(255, 0, 0, 0.126);
                        }
                    }
                    @keyframes starrotate-animation {
                        0% {
                            transform: rotate(0);
                        }
                        20% {
                            transform: rotate(-10deg);
                        }
                        100% {
                            transform: rotate(160deg);
                        }
                    }
                }
    
                
    
    
                & > .bolded, &:hover {
                    background: var(--text-sub-secondary);
                    border-radius: 8px;
                }
            }
        }
        
        & > .separator {
            height: 1px;
            width: 100%;
            background: var(--text-sub-secondary);
            margin: .75rem 0 0.5rem;
        }
    

    
}


/* Top Sub Nav */
.top-sub-nav-content {
    display: flex;
    align-items: center;
    width: 100%;
    background: var(--bg);
    padding-top: 1rem;
    padding-bottom: .375rem;
    & > .left { 
        flex: 1; display: flex; align-items: center; gap: .5rem; justify-content: start; 
        padding-left: 1rem;

        & span {
            font-size: 1.125rem;
            font-weight: 500;
            color: var(--text-sub-secondary);

            & b {
                color: var(--text);
                margin-left: .5rem;
            }
        }
    }
    & > .right { 
        flex: 1; display: flex; align-items: center; gap: .5rem; justify-content: end;
        padding-right: 3rem;
    }
}
.btn-layout {
    border: none;
    background: #ffffff24;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    cursor: pointer;
    padding: .25rem .75rem .25rem .25rem;
    border-radius: 30px;
    & > i {
        font-size: .75rem;
        color: var(--text-sub-secondary);
        background: #ffffffb0;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

    }
    & > span {
        font-size: .65rem;
        font-weight: 500;
        color: var(--text-sub-secondary);
    }

    &:hover, &.bolded {
        & > i {
            font-size: .75rem;
            background: var(--highlight);
    
        }
        & > span {
            font-size: .65rem;
            font-weight: 500;
            color: var(--text);
        }
    }
}


/* MansoryLayout */
.masonry {
    column-count: 4;
    column-gap: 1rem;

    padding: .5rem 3rem .5rem 1rem;
    max-height: 100%;
    overflow: auto;

    @media (max-width: 1024px) {
        .masonry {
          column-count: 3;
        }
    }
      
    @media (max-width: 768px) {
        .masonry {
          column-count: 2;
        }
    }
      
    @media (max-width: 480px) {
        .masonry {
          column-count: 1;
        }
    }
}
.masonry-item {
    break-inside: avoid;
    width: 100%;
    margin-bottom: 1rem;
}
  



/* RowLayout */