.dashboard {
    padding: .5rem 3rem 0;
    & > .banner {
        width: 100%;
        min-height: 100px;
        border-radius: 8px;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1rem;
        & .date {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 1rem;
            & > h2 {
                margin: 0;
                font-weight: 500;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #0d1628;
                & > b {
                    font-weight: 400;
                    font-size: .75rem;
                    margin-left: .25rem;
                }
            }
            & > .info {
                & > h5 {
                    margin: 0;
                    color: var(--text);
                    font-size: 1.25rem;
                    font-weight: 500;
                }
                & > span {
                    display: block;
                    color: var(--text-sub);
                    margin-top: .5rem;
                    font-size: .875rem;
                    font-weight: 300;
                }
            }
        }
        & .welcome {
            flex: 3;
            display: flex;
            flex-direction: column;
            gap: .75rem;
            & .main {
                text-align: center;
                font-size: 1rem;
                color: var(--text-sub-secondary);
            }
            & .sub {
                text-align: center;
                font-size: 1.375rem;
                color: var(--text);
                & b {
                    font-weight: 500;
                    color: #fff;
                }
            }
            & .time {
                text-align: center;
                font-size: 3rem;
                color: var(--text);
                font-weight: 600;
                letter-spacing: 4px;
                & b {
                    font-weight: 600;
                    margin: 0 .5rem;
                    animation: blink 1s infinite;
                }
                @keyframes blink {
                    0%, 100% {
                      opacity: 1;
                    }
                    50% {
                      opacity: 0;
                    }
                }
            }


        }
        & .search {
            flex: 1;
            display: flex;
            justify-content: end;
            align-items: center;
            & > .btn-search-ai {
                width: 3.5rem;
                height: 3.5rem;
                max-width: 3.5rem;
                max-height: 3.5rem;
                min-width: 3.5rem;
                max-height: 3.5rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: radial-gradient(ellipse at bottom,#2f93f1,#0348f2 100%);
                & i {
                    font-size: 2rem;
                }
            }
        }
    }

    & > .dashboard-grid {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: calc(100vh - 1.5rem - 210px);
        gap: 1rem;
        & > .new-request {
            grid-column-start: 1;
            grid-row-start: 1;
            grid-row-end: 3;
            background: #0b0f1c;
            border-radius: 8px;
            padding: 0;
            max-height: 100%;
            overflow: auto;
            position: relative;

            & > .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: sticky;
                top: 0px;
                left: 0;
                width: 100%;
                padding: 0.75rem 1rem;
                background: #0b0f1c;
                height: 50px;
                z-index: 9;
                & .title {
                    font-size: .875rem;
                    font-weight: 500;
                    color: var(--text-sub-secondary);
                    padding: 0.25rem 0 .5rem;
                }
            }

            

            & .listing {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: .5rem 1rem;
                & .each-list {
                    background: linear-gradient(to bottom, #000615, #0006152f);
                    padding: .5rem .75rem;
                    border-radius: 10px 20px;
                    position: relative;
                    & .info {
                        & .thumbnail {
                            display: flex;
                            align-items: center;
                            gap: .75rem;
                            & img {
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                            }
                            & span {
                                font-size: .813rem;
                                font-weight: 500;
                                & b {
                                    font-size: .75rem;
                                    font-weight: 500;
                                    color: #03a2f2b1;
                                    margin-left: .25rem;
                                }
                            }
                        }
                        & .comment {
                            margin: 1rem 0;
                            color: var(--text-sub);
                            font-size: .813rem;
                        }
                        & .ticketno {
                            display: inline-flex;
                            align-items: center;
                            gap: .5rem;
                            background-color: #ffffff1f;
                            padding: .25rem .5rem .25rem .25rem;
                            border-radius: 30px;
                            position: absolute;
                            top: 8px;
                            right: 8px;
                            & .highlight {
                                width: 18px;
                                height: 18px;
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #ffffff1f;
                                font-size: .75rem;
                                font-weight: 600;
                                border-radius: 30px;
                            }
                            & span {
                                font-size: .75rem;
                                font-weight: 600;
                                letter-spacing: 1px;
                            }
                        }
                        & .footer {
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                            margin-top: .5rem;
                            & .date {
                                font-size: .675rem;
                                font-weight: 400;
                                color: var(--text-sub-secondary);
                            }
                            & .action {
                                margin-left: auto;
                                display: flex;
                                align-items: center;
                                gap: .5rem;
                                & button {
                                    padding: .5rem;
                                    font-size: .675rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        & > .coming-request {
            background: #152441;
            border-radius: 8px;
            padding: 0;
            max-height: 100%;
            overflow: auto;
            position: relative;
            max-height: 100%;
            overflow: auto;
            position: relative;

            & > .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: sticky;
                top: 0px;
                left: 0;
                width: 100%;
                padding: 0.75rem 1rem;
                background: #152441;
                height: 50px;
                z-index: 9;
                & .title {
                    font-size: .875rem;
                    font-weight: 500;
                    color: var(--text-sub-secondary);
                    padding: 0.25rem 0 .5rem;
                }
            }

            & .listing {
                display: flex;
                flex-direction: column;
                gap: .15rem;
                padding: .25rem .5rem;

                & .each-list {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    background: #101926a8;
                    gap: .75rem;
                    padding: 0.25rem 0.25rem 0.25rem 0.75rem;
                    border-radius: 20px;
                    & > .thumbnail {
                        & > img {
                            width: 25px;
                            height: 25px;
                            border-radius: 5px;
                        }
                    }
                    & > .info {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        gap: .5rem;
                        flex: 1;
                        & > .name {
                            font-size: .813rem;
                            font-weight: 500;
                        }
                        & > .sub-info {
                            margin-left: auto;
                            display: flex;
                            align-items: center;
                            justify-content: end;
                            gap: .5rem;
                            & > .thumbnail {
                                & > img {
                                    width: 25px;
                                    height: 25px;
                                    border-radius: 50%;
                                }
                            }
                            & > .ticketno {
                                display: inline-flex;
                                align-items: center;
                                gap: .5rem;
                                background-color: #ffffff1f;
                                padding: .25rem .5rem .25rem .25rem;
                                border-radius: 30px;
                                & .highlight {
                                    width: 18px;
                                    height: 18px;
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: #ffffff1f;
                                    font-size: .75rem;
                                    font-weight: 600;
                                    border-radius: 30px;
                                }
                                & span {
                                    font-size: .75rem;
                                    font-weight: 600;
                                    letter-spacing: 1px;
                                }
                            }
                        }
                    }
                }
            }
        }
        & > .completed-request {
            background: #0d1628;
            border-radius: 8px;
            background: radial-gradient(circle at center, #1e8afe 0%, #145fbb 30%, #0d1628 100%);


            & > .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: sticky;
                top: 0px;
                left: 0;
                width: 100%;
                padding: 0.75rem 1rem;
                height: 50px;
                z-index: 9;
                & .title {
                    font-size: .875rem;
                    font-weight: 500;
                    color: var(--text);
                    padding: 0.25rem 0 .5rem;
                }
            }

            & .listing {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                padding: .25rem .5rem;

                & .each-list {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    background: linear-gradient(to bottom, #09246f, rgba(0, 6, 21, 0.1843137255));
                    gap: .75rem;
                    padding: 0.5rem 0.5rem 0.5rem 0.75rem;
                    border-radius: 8px;
                    & > .thumbnail {
                        & > img {
                            width: 30px;
                            height: 30px;
                            border-radius: 5px;
                        }
                    }
                    & > .info {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        gap: 1rem;
                        flex: 1;
                        & > .name {
                            font-size: .813rem;
                            font-weight: 500;
                        }
                        & > .sub-info {
                            margin-left: auto;
                            display: flex;
                            align-items: center;
                            justify-content: end;
                            gap: 1rem;
                            & > button {
                                padding: .5rem .75rem;
                                font-size: .813rem;
                            }
                        }
                    }
                }
            }
        }
        & > .progressed-request {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 4;

            background: #061b35d4;
            border-radius: 8px;
            padding: 0;
            overflow: auto;
            max-width: 100%;
            min-height: 200px;

            & > .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: sticky;
                top: 0px;
                left: 0;
                width: 100%;
                padding: 0.75rem 1rem;
                height: 50px;
                z-index: 9;
                & .title {
                    font-size: .875rem;
                    font-weight: 500;
                    color: var(--text-sub);
                    padding: 0.25rem 0 .5rem;
                }
            }

            & > .info {
                display: flex;
                align-items: start;
                padding: .5rem 1rem;

                & > .calender-listing {
                    flex: 1;
                }

                & > .calender {
                    
                    flex-basis: 200px;
                }
            }

            
        }
    }
}

.modal-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}